*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark: #350363;
    --background: #ffe9bd;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #491579;
}

main{
    width: 30vw;
    /* margin-top: 20rem; */
    text-align: center;
    background-color: var(--background);
    border: solid var(--background);
    border-width: 0.8rem;
    border-radius: 1rem;
    padding: 1rem 5rem;
    color: #1f2933;
}

h2{
    font-size: 2.2rem;
    margin: 2rem;
}

h3{
    font-size: 3rem;
}

p{
    font-size: 1.8rem;
}
.image{
    width: 90%;
    max-height: 22rem;
    height: auto;
    margin: 1rem 0 4rem 0;
}

.butten-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
button{
    min-width: 28rem;
    background-image: linear-gradient(
        92.88deg,
        #455eb5 9.16%,
        #5643cc 43.83%,
        #673fd7 64.72%
    );
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom:2rem ;
    text-shadow: #1f2933;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    text-transform: capitalize;
}
button:hover{
    box-shadow: rgba(80, 63, 205, 0.2) 0 1px 30px;
    transition-duration: 0.1s;
}

button:last-child{
    background: var(--dark);
    margin-bottom: 0;
}

/* game area */
#gamearea{
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#newgamebutton{
    margin: 2rem 0;
}
input{
    border: 0.2rem solid rgb(38, 42, 49);
    background: transparent;
    margin: 4rem 0;
    padding: 2rem 0;
    width: 25rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.stats{
    text-align: center;
    margin-bottom: 4rem;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.info span{
    font-size: 2rem;
    color:red;
}